*.log
/.metadata/
/.settings/
/bin/
/target/*
/.recommenders/
/Servers/
*.index
*.zip
*.project
*.prefs
*.classpath
*.xmi
*.fdt
*.fdx
*.fnm
*.lock
*.setup
*.gen
*.frq
/.idea/*
.idea/*
*.iml
*.component
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.idea/.name
/target/MANIFEST.MF
*.class
/.settings/*
*/.settings/
*.log.*
