*.log
/.metadata/
/.settings/
/bin/
/target/*
/.recommenders/
/Servers/
*.index
*.zip
*.project
*.prefs
*.classpath
*.xmi
*.fdt
*.fdx
*.fnm
*.lock
*.setup
*.gen
*.frq
*.gitignore
/.idea/
*.iml
*.component
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.idea/*
/.idea/*
/target/MANIFEST.MF
/.idea/.name
/target/
/*/.metadata/
/*/.settings/
/*/bin/
/*/target/
/*/*/.metadata/
/*/*/.settings/
/*/*/bin/
/*/*/target/
/*/*/*/.metadata/
/*/*/*/.settings/
/*/*/*/bin/
/*/*/*/target/
*.class
/.settings/*
*/.settings/
*.log.*
application-default.properties